  
<div class="container mt-4">
  <section class="hero is-small has-background-info-light">
    <div class="hero-body">
      <div class="container  has-text-centered">
        <h1 class="title is-size-3">
          <i class="fas fa-tv mr-3"></i>Dramas&Movies based on Webtoon
        </h1>
      </div>
    </div>
  </section>
  <div class="columns">
    <div class="column is-one-fifth">
      <aside class="menu mt-6">
        <p class="menu-label is-size-4 title">
          List
        </p>
        <ul class="menu-list pt-4">
          <%Category.all.each do |cat|%>
            <li><%=link_to cat.name, dramas_path(category: cat.name)%></li>
            <hr>
          <% end %>
        </ul>
      </aside>
    </div>
    <div class="column mt-6 ml-4">
      <% @dramas.each do |drama| %>
        <article class="media">
          <div class="media-left">
            <figure>
              <%= image_tag drama.image %>
            </figure>
          </div>
          <div class="media-content ml-4">
            <div class="is-size-4 has-background-link-light has-text-centered has-text-weight-bold">
              <%= drama.title %>
            </div>
            <br>
            <div class="content">
              <p class="has-text-grey">
                Characters<br>
              </p>
              <%= drama.character %><br>
              <br>
              <p class="has-text-grey">
                Brief Story<br>
                <br>
              </p>
              <%= drama.desc %>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  </div>
</div>
    
