<div class="container mt-4 ">
  <section class="hero is-small has-background-info-light">
    <div class="hero-body">
      <div class="container  has-text-centered">
        <h1 class="title is-size-3">
          <i class="fas fa-paper-plane mr-3"></i>Webtoon News in Korea
        </h1>
        <%= form_tag(search_path,:method => 'get') do %>
          <%= text_field_tag :search%>
          <%= submit_tag 'Search', class:"button is-warning is-inverted", :name => nil %>
        <% end %>
      </div>
    </div>
  </section>
  <div class="columns is-multiline is-mobile">
    <%@articles.each do |article|%>
      <div class="column mt-4 is-half">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <%if article.image.attached?%>
                <figure class="image is-128x128">
                  <div><%=link_to (image_tag article.image),article_path(article)%></div>
                </figure>
              <% end %>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%=article.title%></strong>
                  <br>
                  <%=truncate(article.desc, length: 96, separator: ' ')%>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <p class="level-item" aria-label="reply">
                    <%=article.created_at.strftime("%Y-%m-%d")%> | <%=article.reporter%>
                  </p>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
    <% end %>
  </div>
</div>
