<div class= "container">
<div class="columns mt-4">
  <div class= "column is-6">
  <%if @daum.image.attached?%>
    <%=image_tag @daum.image %>
    </div>
    <% else %>
    <%=image_tag ("https://via.placeholder.com/649x360?text=No+image") %>
    <% end %>
  <div class= "column is-6">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title has-background-white-ter is-size-3 ">
            <%=@daum.title%>
            </p>
        </header>
                <header class="card-header">
            <p class="card-header-subtitle is-size-5 is-italic">
            Author: <%=@daum.author%> / Genre: <%=@daum.genre%>
            </p>
        </header>
  <div class="card-content">
    <h5><%=@daum.desc%></h5>

  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item "><i class="fas fa-external-link-square-alt mr-2"></i>
        Try the first episode
    </a>
  </footer>
</div>
    </div>
</div>
</div>

